@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);

*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif
}

body{
    background-color: black;
}

.container{
   width: 80%;
   margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: orange;
}

.profil {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

p{
    color: wheat;
    flex: 1;
    margin-top: 0;
}

table{
    width:40%;
    border: 2px solid;
    border-collapse:collapse;
    color:antiquewhite;
}